{% extends 'socialapp/layout.html' %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save"/>
  </form>

  {% for status in status_list %}
    <p>{{ status.text | slice:":15" }}...
        <a href="{% url 'status_details' status.pk %}">See more</a>
    </p>

    <small>
      by <a href="{% url 'user_profile' status.author.profile.pk %}">
          {{ status.author }}</a>
      on {{ status.date_added }}
    </small>

    <hr>
  {% endfor %}
{% endblock %}
