{% extends 'socialapp/layout.html' %}

{% block head %}
  <h1>Status details</h1>
{% endblock %}

{% block content %}

  <div class="user-post">
    <h3>{{ status.text }}</h3>

    <small>
      by
      {% if user.profile %}
        <a href="{% url 'user_profile' status.author.profile.pk %}">
          {{ status.author }}</a>
      {% else %}
          {{ status.author }}
      {% endif %}
      on {{ status.date_added }}
    </small>

    <p>
      <a href="{% url 'update_status' status.pk %}">Edit</a>
      <a href="{% url 'delete_status' status.pk %}">Delete</a>
    </p>
  </div>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit" value="Save"/>
  </form>

  {% for comment in comments %}
    <p>
      {{ comment.text }}
      <small>
        by
        {% if user.profile %}
          <a href="{% url 'user_profile' comment.author.profile.pk %}">
            {{ comment.author }}</a>
        {% else %}
            {{ comment.author }}
        {% endif %}
        at {{ comment.date_added }}
      </small>
    </p>
  {% endfor %}
{% endblock %}
